/* @CHARSET "UTF-8"; */
body{
	background-color :  #4a235a ;
	font-family: "The Girl Next Door";
	color:  #ebdef0 ;
	font-size: 22px;
	font-weight:bold;
	text-align: center;
	
}

input[placeholder], [placeholder], *[placeholder] {
   color: #4a235a;
}

.page-footer {
   	position:fixed;
   	bottom:0;
	/* text-align: center; */
}